.friendList {
    display: flex;
    /* Встановлюємо флекс-контейнер для розташування елементів в рядок */
    gap: 20px;
    /* Відступи між елементами */
    padding: 0;
    /* Відсутність внутрішніх відступів */
    list-style: none;
    /* Видалення маркерів списку */
    margin: 0;
    /* Відсутність зовнішніх відступів */
    justify-content: center;
    /* Центруємо список по горизонталі */
    align-items: center;
    /* Вирівнюємо елементи по вертикалі */
}